body {
    font-family: Arial, sans-serif;
    background-color: #ed9898;
    margin: 0;
    padding: 0;
}

h1 {
    color: aqua;
    color: white;
    text-align: center;
    padding: 1rem;
}

form .options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

label{
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid rgb(161, 60, 60);

}